# .DS_Store
.DS_Store

# wakaba_app
wakaba-*

# node_modules
node_modules/

# config/accounts.json
config/accounts.json

# js
bin/*.js
scripts/components/*.js

# html
views/*.html

# release
__release__