doctype html
html
	head
		meta(charset="utf-8")
		title Controller
		link(rel="stylesheet", href="../stylesheets/font.css")
		link(rel="stylesheet", href="../stylesheets/base.css")
		link(rel="stylesheet", href="../stylesheets/controller.css")
		script.
			require('coffee-script/register')
			require('../scripts/controller')
	body
		main#application
			title-bar
			view-box
			status-bar