<!DOCTYPE html>
<html>
  <head lang="ja">
    <meta charset="utf-8">
    <title>Controller</title>
    <link rel="stylesheet" href="../stylesheets/font.css">
    <link rel="stylesheet" href="../stylesheets/base.css">
    <link rel="stylesheet" href="../stylesheets/controller.css">
    <script src="../scripts/controller.js"></script>
  </head>
  <body>
    <main id="application">
      <header id="title-bar">
        <div id="close"></div>
        <div id="mini"></div>
      </header>
      <article id="content">
        <div data-state="" class="inner">
          <section id="log" class="area"></section>
          <section id="menu" class="area">
            <div class="log-btn menu-btn">
              <div class="log icon"></div>
              <h2>LOG</h2>
            </div>
            <div class="comment-btn menu-btn">
              <div class="comment icon"></div>
              <h2>SHOW</h2>
            </div>
            <div class="settings-btn menu-btn">
              <div class="settings icon"></div>
              <h2>SETTINGS</h2>
            </div>
            <div class="keyword-area">
              <input id="keyword" type="text" length="12" maxlength="12" placeholder="キャッチしたいキーワード">
            </div>
          </section>
          <section id="settings" class="area"></section>
        </div>
      </article>
    </main>
  </body>
</html>