doctype html
html
	head
		meta(charset="utf-8")
		title Screen
		link(rel="stylesheet", href="../stylesheets/font.css")
		link(rel="stylesheet", href="../stylesheets/base.css")
		script.
			require('coffee-script/register')
			require('../scripts/screen')
	body
		main#application