html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Boku';
	color: #4c4c4c;
}

img {
	vertical-align: bottom;
}

a {
	color: #ccc;
	text-decoration: none;
}

h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

input, textarea {
	-webkit-appearance: none;
	border: none;
	padding: 0;
	border-radius: 0;
}

iframe {
	border: none;
}

.pink { color: #ed588d; }
.orange { color: #ff8100; }
.green { color: #86c351; }
.blue { color: rgb(0,180,255); }
.betty_red { color: #7F2F49; }

.bg_pink { background-color: #ed588d; }
.bg_orange { background-color: #ff8100; }
.bg_green { background-color: #86c351; }
.bg_blue { background-color: rgb(0,180,255); }
.bg_betty_red { background-color: #7F2F49; }
