/**
 *
 * @author yuki540
 * keyframes.css
 *
 */
@keyframes slide_down {
	0% {
		top: -100%;
	}
	100% {
		top: 0%;
	}
}
@-webkit-keyframes slide_down {
	0% {
		top: -100%;
	}
	100% {
		top: 0%;
	}
}

@keyframes slide_up {
	0% {
		top: 0%;
	}
	100% {
		top: -100%;
	}
}
@-webkit-keyframes slide_up {
	0% {
		top: 0%;
	}
	100% {
		top: -100%;
	}
}







